a:link{
    color: purple;
    text-decoration: none;
}

a:visited{
    color: greenyellow;
}

a:hover{
    color:orangered;
}

a:active{
    color:darkred;
}

.clearfix{
    clear: both;
}

.menu-horizontal{
    width: 1030px;
    }

.head{
    background: pink;
}

a.headers{
    float: left;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px 0;
    border-style: ridge;
    border-color: aqua;
   }

   .sidebar{
       background: rgb(145, 245, 145);
       width: 150px;
   }

   a.point{
       float: left;
       width: 147px;
       text-align: left;
       text-transform: uppercase;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 15px;
       padding: 5px 0;
       border-style: ridge;
       border-color: rgb(231, 150, 231);
   }


