a:link{
    color: purple;
    text-decoration: none;
}

a:visited{
    color: greenyellow;
}

a:hover{
    color:orangered;
}

a:active{
    color:darkred;
}

.clear{
    clear: both;
}

.menu-horizontal{
    width: 440px;
    background: aquamarine;
    padding: 10px;
}

.menu{
    list-style-type: none;
    float: left;
    text-transform: uppercase;
    padding: 10px 10px;
    margin: 0;
}

.menu-vertical{
    background: plum;
    width: 100px;
    padding: 0;
}

.sidebar{
    list-style-type: none;
    border-style: groove;
    text-align: left;
}

