/*Работа с текстом*/

.article{
    text-transform: uppercase;
    /*
    uppercase - делает все буквы большими
    lowercase - делает все маленькими
    capitalize - каждую первую букву слова делает прописной
    */

    white-space: pre-wrap;

    /*
    nowrap - запрещает перенос строк, (исключение br)
    pre - сохраняет все пробелы и переносы
    pre-wrap - сохраняет пробелы в тексте, делая разрывы там где необходимо
    pre-line - удаляет все лишние пробелы, за исключением br
    */

    word-break: keep-all;
    

    /*
    break-all - разрывы допустимы в пределах слов. Перенос слов не применяется
    */

    text-align-last: justify;

    /*
    center - центрирует текст или inline\inline-block эелменты
    left - по умолчанию
    right - перемещает текст в вправо

    justify - распределяет текст по всей ширине родителя
    text-align-last - действует на последнюю строку расстягивает
    */
}